body.dark{
    background-color: var(--dark-bg);
    color: white;
}

.dark nav{
    border-color: var(--light-border);
}

.dark .gradient{
    background: var(--gradient);
}


.dark li{
    border-color: var(--light-border);
}

.dark .noteapp_content{
    border-color: var(--light-border);
}

.dark .note_list{
    border-color: var(--light-border);
    color: white;
}

.dark #form_add_note_title{
    border-color: var(--light-border);
    color: lightgray;
}

.dark .create_edit_note textarea{
    background-color: var(--dark-bg2);
    border-color: var(--light-border);
    color: lightgray;
}

.dark .create_edit_note button{
    border-color: var(--light-border);
    color: lightgray;
}