body.dark{
    background-color: var(--dark-bg);
    color: white;
}

.dark nav{
    border-color: var(--light-border);
}

.dark .gradient{
    background: var(--gradient);
}


.dark li{
    border-color: var(--light-border);
}

.dark .noteapp_content{
    border-color: var(--light-border);
}

.dark .note_list{
    border-color: var(--light-border);
    color: white;
}

.dark #form_add_note_title{
    border-color: var(--light-border);
    color: lightgray;
    background-color: var(--dark-bg2);
}

.dark .create_edit_note textarea{
    background-color: var(--dark-bg2);
    border-color: var(--light-border);
    color: lightgray;
}

.dark .create_edit_note button{
    border-color: var(--light-border);
    color: lightgray;
    background-color: var(--dark-bg2);
}

.dark #darkmode{
    border: white 1px solid;
    color: white;
}

.dark .note_list_item{
    border-color: var(--light-border);
    color: white;
}

.dark .note_list_item:hover{
    background-color: var(--dark-bg2);
}

.dark .note_list_item-selected{
    background-color: var(--dark-selected);
    color: white;
}

#darkmode {
    margin-right: 3em;
    padding: 0.5em 1em;
    height: 100%;
    border: black 1px solid;
    border-radius: 15px;
    background-color: transparent;
}